# Created by https://www.toptal.com/developers/gitignore/api/direnv
# Edit at https://www.toptal.com/developers/gitignore?templates=direnv

### direnv ###
.direnv
.envrc

# End of https://www.toptal.com/developers/gitignore/api/direnv


# Ignore nix build output
result*

# https://github.com/cachix/pre-commit-hooks.nix
.pre-commit-config.yaml